.div5,
.inner {
  position: absolute;
}
.inner {
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: 0 0 var(--br-sm) var(--br-sm);
  background-color: var(--color-pink);
}
.div5 {
  top: 24.39%;
  left: 13.51%;
}
.div4,
.rectangle-div {
  position: absolute;
  width: 100%;
  right: 0;
  bottom: 0;
  left: 0;
}
.div4 {
  height: 50%;
  top: 50%;
  cursor: pointer;
}
.rectangle-div {
  height: 100%;
  top: 0;
  border-radius: var(--br-sm) var(--br-md) 0 0;
  background-color: var(--color-gray-100);
}
.div7 {
  position: absolute;
  top: 24.39%;
  left: 6.76%;
}
.component-5default,
.div6 {
  position: absolute;
  width: 100%;
  top: 0;
  right: 0;
  left: 0;
}
.div6 {
  height: 50%;
  bottom: 50%;
  cursor: pointer;
}
.component-5default {
  height: 100%;
  bottom: 0;
}
.component-5-parent {
  position: relative;
  width: 148px;
  height: 122px;
  overflow: hidden;
  max-width: 100%;
  max-height: 100%;
  text-align: center;
  font-size: var(--font-size-2xs);
  color: var(--color-black);
  font-family: var(--font-inter);
}
